*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Spartan', sans-serif;
        
}

h4{
    font-size: 20px;
    color: #222;
}

#product1{
    text-align: center;
}
.section-p1{
    padding: 40px 80px;

}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
#product1 .pro-contaner{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: 20px 20px  30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
    

}
#product1 .pro:hover{
    box-shadow: 20px 20px  30px rgba(0, 0, 0, 0.06);

}
#product1 .pro img{
    width: 100%;
    border-radius: 0px;
    

}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des .h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #009CFF;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0px;
    background-color: #42A4FF;
    font-weight: 500;
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#cart{
    margin-top:50px;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    

}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding:10px 5px 10px 15px; 
}

#cart table thead{
    border: 1px solid #009CFF;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table  tbody tr td {
    padding-top: 18px;
}

#cart table  tbody  td{
    font-size: 13px
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupan{
    width: 50%;
    margin-bottom: 30px;

}
#coupan h3{
    padding-bottom: 15px;
}
#coupan input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #009CFF;
}

#coupan button{
    background-color: #009CFF;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    color:      #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;   
}
#cart button{
    background-color: #009CFF;
    font-size: 13px;
    font-weight: 500;
    padding: 10px 20px;
    color:      #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;   
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #009CFF;
    padding: 30px;
    
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #009CFF;
    padding: 10px;
    font-size: 13px;  
}
#subtotal h3{
    padding-bottom: 15px;
}
#subtotal button{
    background-color: #009CFF;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    color:      #fff;
    /* border-radius: 4px; */
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s; 
}

/* filter start */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.font-poppins{
 font-family: 'Poppins', sans-serif;;
}
.img{
    width: 250px;
    height: 350px;
    background-color: rgb(224, 224, 224);
}

/* filter end  */


#cart{
    overflow-x: auto;
}

@media (max-width: 477px) {
    #cart-add{
        
        flex-direction: column;
    }
    #coupan{
        width: 100%;

    }

    #subtotal {
        width: 100%;
 
        padding: 20px;
    }
    
}